img {
  max-width: 100%;
}

.container {
  padding: 3rem;
  display: grid;
  grid-gap: 20px;
  grid-template-column: 1fr;
  grid-template-row: auto 1fr 1fr minmax(50px, 1fr);
  grid-template-areas:
    'main-title'
    'img-img'
    'tribute-detail'
    'link';
}

.main-title {
  grid-area: main-title;
  text-align: center;
}

.img-img {
  grid-area: img-img;
  margin: auto;
  max-width: 100%;
}

.img-img p {
  text-align: center;
}

.tribute-detail {
  grid-area: tribute-detail;
  text-align: center;
}

.link {
  grid-area: link;
  margin: auto;
}



